.success-card {
    display: flex;
    align-items: stretch;
    min-width: 8rem;
    background: white;
    border-radius: .8rem;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    padding: 0;
  }
  
  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    flex-shrink: 0;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
  }
  
  .success-icon {
    color: white;
    font-size: 2rem;
  }
  
  .message-container {
    padding: 0.8rem 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  